* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */


header {
  background-color: rgb(18, 97, 214);

}

ul {
  justify-content: space-evenly;
  display: flex;
  list-style-type: none;

}

button,
a {
  border-radius: 15px;
  text-decoration: none;
  color: black;
}

li a {
  color: white;
  text-decoration: none;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

}

.bg-orange {
  background-color: rgb(18, 97, 214);
}


.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.col-25.bg-orange,
.col-50.bg-orange {
  padding: 10px;
}


/* utili */

.acapo {
  overflow-wrap: break-word;
}

.m-10 {
  margin-top: 10px;
}

.p-bottom {
  padding: 50px 0px 20px 0px;
}

.white {
  color: white;
}

.size {
  font-size: 40px;
}

.m-10 {
  margin-top: 10px;
}

.m-top {
  margin-top: 20px;
}

.p-50 {
  padding: 50px;
}


.p-20 {
  padding: 30px;
}

.text-aling {
  text-align: end;
}


.aline-center {
  text-align: center;
}

button {
  padding: 8px;
}

/* main */


/* section blu */


.container-blu {
  background-image: url(../css/img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0f2192;
  display: flex;
  justify-content: center;
}

.quadrato-rosa {
  height: 400px;
  width: 800px;


}

/* section bianca */


.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}

.col-60,
.col-40 {

  height: 500px;

}

/* section grigia */

.star {
  background-image: url(../css/img/stars.svg);
}

.container-grigio {
  background-color: lightgray;
  padding: 60px 0;

}

.quadrato-verde {
  height: 800px;
  width: 1200px;
}

/* section nera */

.container-nero {
  background-color: rgb(43, 41, 41);
  padding-top: 20px;
}

.col-15 {
  width: 15%;
}

.bg-lightred {
  background-color: rgb(43, 41, 41);
}

.bg-bluegreen {
  background-color: rgb(43, 41, 41);
}

.col-40.bg-lightred {
  text-align: center;
}


/* footer */

footer {
  background-color: black;

}



ol {
  list-style-type: none;
}



.azzurro {
  color: rgb(18, 97, 214);
}


.column {
  display: flex;
}

.scritta {
  text-align: end;
}

.bandiera {
  height: 10px;

}

.social {
  padding: 10px;
}


.quadrato-fondo {
  height: 50px;
  width: 1200px;

}

.logo {
  width: 40px;
  height: 25px;
  padding: 10px;
  text-align: center;
}

.bottone {
  width: 60px;
  height: 25px;
  margin: 15px 0px 20px 0px;
  border: black dotted;
  text-align: center;
}

.spazio {
  justify-content: space-between;
}